body{
    padding: 2rem 4rem;
}
.SearchBlk{
    display: flex;
    padding-bottom: 2rem;
    border-bottom: 1px solid gray;
}
.filterInput{
    transform: scale(1.5);
    opacity: 0.9;
    cursor: pointer;
    margin-right: 1rem;
    margin-top: 0.8rem;
}
.dataElements{
    margin-top: 2rem;
}